.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.styleButton {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  background-color: blue;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}
